<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Here is the form </title>
  <!--  Boostrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<!--Adding new Article -->
<body>
<!-- Nav Bar-->
<!--<div th:replace="fragments/navBarFrag"></div>-->



<div    class="container" style="padding: 30px">
  <h3 class="text-center"> Update Article </h3>
  <form th:object=" ${article}"   method="post"    action="/update"   enctype="multipart/form-data">

    <!--        th:value="${article.id}"-->

    <input class="form-control form-control-lg"  type="hidden" th:value="${article.getId()}" name="id">
    <input class="form-control form-control-lg" type="text" name="title"  th:value="${article.getTitle()}"  >
    <!--        th:value="${article.getTitle()}"-->

    <div class="form-group">
      <label for="articleDescription">Article Description</label>
      <!--            th:value="${article.getDescription()}" th:text="${article.getDescription()}"-->
      <textarea   name="description"  class="form-control" placeholder="Article Description " id="articleDescription" rows="3" th:text="${article.getDescription()}" > </textarea>
    </div>


    <div    class="text-center">

      <img  style="width: 50% ; " id="output"  >

    </div>

    <!--    Choose the file to upload -->
    <!--      <form action="/file/upload" method="post" enctype="multipart/form-data">-->
    <div class="form-group" >
      <label for="uploadImage" >Upload Image</label>
      <input type="file" name="file"  class="form-control-file" id="uploadImage" th:value="${article.getProfile()}" onchange="loadFile(event)">
    </div>



    <input type="hidden" th:value="${article.getProfile()}" id="imageUrl" name="imageUrl">
    <!--      </form>-->

    <button  type="submit" class="btn btn-warning"> Update Article </button>

  </form>

  <script>

    let initialValue= document.getElementById('imageUrl').value

    let    image=document.getElementById('output');
    image.src= initialValue;


    let loadFile =function (event){
      //    var updateImageUrl= document.getElementById('imageUrl').valueOf();

      image.src= URL.createObjectURL(event.target.files[0]);
    }


  </script>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>